<template>
  <div class="audio">
  </div>
</template>

<script>
import Amplitude from 'amplitudejs'
export default {
  props: ['spinned'],

  watch: {
    spinned() {
      this.launchAudio()

      for(let i = 0; i < 35; i++) {
        this.increaseVolume(i)
      }
    }
  },

  mounted() {
    Amplitude.init({
      songs: [
        {
          "name": "Time",
          "artist": "Hans Zimmer",
          "album": "Inception",
          "url": "/assets/sounds/hans-zimmer-time.mp3",
        }
      ],
      volume: 0
    })
  },

  methods: {
    launchAudio() {
      Amplitude.play()
    },

    increaseVolume(i) {
      setTimeout(() => {
        Amplitude.setVolume(i)
      }, 300 * i)
    }
  }
}
</script>

<style lang="scss">
.audio {
  position: fixed;
  inset: 0;
  z-index: 2;
}
</style>