<template>
  <div class="loader" ref="loader">
    <p class="loader__title">Wait for assets to load</p>
    <div class="loader__progress__container">
      <p class="loader__progress__amount">{{ Math.round(percentage) }} %</p>
      <div class="loader__progress">
        <div :style="'width: ' + percentage + '%'" class="loader__progress__bar"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      percentage: 0,
      timeline: undefined
    }
  },
  mounted() {
    document.addEventListener('assetsLoader', (e) => {
      this.percentage = e.detail.percentage
    });

    const timeline = this.$gsap.timeline({ paused: true })
    timeline.to(this.$refs.loader, {
      x: - 2000,
      duration: 2,
      ease: 'power4.inOut'
    })

    this.timeline = timeline
  },
  watch: {
    percentage() {
      if(this.percentage === 100) {
        console.log(this.timeline)
        this.timeline.play()
      }
    }
  }
}
</script>

.<style lang="scss">
.loader {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  &__title {
    color: black;
    margin: 0;
    font-size: 1rem;
  }

  &__progress {
    width: 100%;
    max-width: 200px;
    height: 0.5rem;
    background-color: black;

    &__amount {
      color: black;
      width: 30px;
      text-align: right;
    }

    &__container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }

    &__bar {
      height: 100%;
      background-color: lightgray;
      transition: width 0.1s ease-in;
    }
  }
} 
</style>