<template>
  <div class="scene" ref="container">
    <div class="intro">
      <p class="intro__text" ref="intro">Are&nbsp;you&nbsp;still&nbsp;dreaming&nbsp;?</p>
    </div>
    <p class="hint" ref="hint">Drag to launch the spin.</p>
  </div>
</template>

<script>
export default {
  props: ['dreaming'],
  data() {
    return {
      mainText: 'Are you dreaming ?'
    }
  },

  mounted() {
    this.$three.start({ container: this.$refs.container, dreaming: this.dreaming })

    document.addEventListener('mousedown', (e1) => {
      const startX = e1.clientX
      const startY = e1.clientY
      document.addEventListener('mouseup', (e2) => {
        const endX = e2 .clientX
        const endY = e2.clientY
        const lauchSpeed = Math.sqrt(Math.pow(endX - startX, 2) + Math.pow(endY - startY, 2))
        if(lauchSpeed > 100) {
          this.$three.totems.spinningTop.launch()
          this.$three.skybox.transition()
          this.$emit('spinLaunched')
          this.hideText(this.$refs.intro, 0.5)
          this.hideText(this.$refs.hint, 0)
        }
      }, { once: true })
    })

    this.revealText(this.$refs.intro, 1.5)
    this.revealText(this.$refs.hint, 2)
  },

  methods: {
    revealText(el, delay) {
      const split = new this.$gsap.SplitText(el, { type: "words,chars" })
      const chars = split.chars;

      const tl = this.$gsap.timeline()

      tl.delay(delay)
      tl.from(chars, {
        duration: 1,
        opacity: 0,
        y: 80,
        ease: "power2.out",
        stagger: 0.05
      })
    },

    hideText(el, delay) {
      const split = new this.$gsap.SplitText(el, { type: "words,chars" })
      const chars = split.chars;

      const tl = this.$gsap.timeline()
      tl.delay(delay)
      tl.to(chars, {
        duration: 1,
        opacity: 0,
        y: -80,
        ease: "power2.in",
        stagger: 0.05,
      })
    }
  }
}
</script>

<style lang="scss">
.scene {
  width: 100vw;
  height: 100vh;
  background-color: white;

  canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    margin: auto;
    padding: 2rem;
    user-select: none;

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      color: white;
      margin: 0;
      top: 1rem;
      font-size: 5rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      font-weight: 800;
    }
  }

  .hint {
    color: white;
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.7;
    letter-spacing: 0.1rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
  }
}
</style>