<template>
  <div class="totem-explanation" ref="text">
    <p>{{ texts[choice] }}</p>
  </div>
</template>

<style lang="scss">
.totem-explanation {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  height: fit-content;
  max-width: 600px;
  color: white;
  z-index: 2;
  left: 8rem;
  font-size: 2rem;
}
</style>

<script>
export default {
  props: ['choice'],
  data() {
    return {
      texts: {
        ariane: "Ariadne's totem is a chess piece, specifically a bishop. It's shown to be drilled by her after which she knocks it down, waiting to see it fall in a particular way. Since Arthur explains to her that a totem has a specific weight and balance, we can assume her works on similar principles (at least Cobb's and Arthur's do). Probably the physical alteration (the arc drilled by her) leads to a shift in weight that ensures the bishop falls at a specific angle, when knocked in a specific way.",
        cobb: "Cobb is seen wearing his wedding ring when he’s in a dream, and when he’s in the real world, the ring is gone. Fans have then wondered if the ring was Cobb’s original totem, one that he hasn’t used since Mal’s death as he started using hers."
      }
    }
  },
  mounted() {
    this.revealText(this.$refs.text)
  },

  methods: {
    revealText(el) {
      const split = new this.$gsap.SplitText(el, { type: "words" })
      const chars = split.words;

      const tl = this.$gsap.timeline()

      tl.delay(1.2)
      tl.from(chars, {
        duration: 0.6,
        opacity: 0,
        y: 80,
        ease: "power2.out",
        stagger: 0.02
      })
    },
  }
}
</script>