<template>
  <div class="totem-picker" :class="[spinned === true ? 'unavailable' : 'available']">
    <p v-for="character in characters" :key="character" :class="[picked === character ? 'picked' : '']" @click="handleChange(character)" >
      {{ character }}
    </p>
  </div>
</template>

<script>
export default {
  props: ['spinned'],
  data() {
    return {
      characters: ['cobb', 'ariane'],
      picked: 'cobb'
    }
  },

  methods: {
    handleChange(req) {
      this.picked = req
      this.$three.totems.switchTotem(req)
      this.$emit('choice', req)
    }
  },
}
</script>

<style lang="scss">
.totem-picker {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 2rem;
  display: flex;
  gap: 2rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  &.unavailable {
    opacity: 0;
    transform: translateY(-20%);
  }

  p {
    margin: 0;
    color: white;
    font-size: 0.8rem;
    opacity: 0.6;
    text-transform: capitalize;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &.picked {
      opacity: 1;
    }
  }
}
</style>