<script setup>
import Scene from './components/Scene.vue'
import Audio from './components/Audio.vue'
import TotemPicker from './components/TotemPicker.vue'
import TotemText from './components/TotemText.vue'
import Loader from './components/Loader.vue'
</script>

<script>
export default {
  data() {
    return {
      spinned: false,
      dreaming: undefined,
      ended: false,
      choice: 'cobb'
    }
  },
  mounted() {
    this.dreaming = Math.floor(Math.random() * 2) === 0 ? true : false
    document.addEventListener('ended', () => {
      this.ended = true
    }, false);
  },
  methods: {
    hasSpinned() {
      this.spinned = true
    },
    handleChoice(e) {
      this.choice = e
    } 
  },
}
</script>

<template>
  <main>
    <Loader/>
    <Scene v-if="dreaming !== undefined" :dreaming="dreaming" @spinLaunched="hasSpinned"/>
    <Audio :spinned="spinned"/>
    <TotemPicker :spinned="spinned" @choice='handleChoice'/>
    <TotemText :choice="choice" v-if="ended === true"/>
  </main>
</template>

<style lang="scss">
@import './public/assets/global.scss';
</style>
